/* Reducing font sizes for screen sizes smaller than 365px*/

.optionBox {
	font-size: 8px;
}

h1 {
	font-size: 10px;
}

select {
	font-size: 8px;
}

.location-list-container {
	display: flex;
	justify-content: left;
}