<!-- Extending from base.html to ensure all the html files have uniform look and feel -->
{% extends "base.html" %}
{% block content %}
		<div class="sub-heading">
			<h2>Edit Comment</h2>
			<span class="post-link">
				<i class="icon-list-alt"></i><a class="new-post-link" href="/comment" title="Go back to comment main-page">Comments</a>
				<i class="icon-signout"></i><a class="new-post-link" href="/logout">Signout</a>
			</span>
		</div>	
		<!-- Creating the form for editing a comment-->
		<form method="post">
			<label>
				<div>Title</div>
				<input type="text" name="subject" value="{{title}}" disabled>
			</label>
			<label>
				<div>Content</div>
				<textarea name="content">{{content}}</textarea>
			</label>
			<div class="error">{{error}}</div>	
			<input type="submit">
		</form>
{% endblock %}		
			