
<!-- Extending from base.html to ensure all the html files have uniform look and feel -->
{% extends "base.html" %}
{% block content %}
	<div class="sub-heading">
		<h1>Adventures in Blogging</h1>
		<span class="post-link">
			<a class="new-post-link" href="/login">Login</a>
			<a class="new-post-link" href="/signup">Signup<a>
			<i class="icon-plus"></i><a class="new-post-link" href="/blog/newpost" title="Add a new post">Post</a>
		</span>
	</div>	
<!-- List the 10 most recent blog entries -->
	{% for blog in blogs %}
		<div class="blog">
			<div class="post-title">
				{{ blog.subject}}
				<span class="post-date">
					{{blog.created.strftime("%b %d, %Y")}}
				</span>
			</div>
			<div class="post-content">
				{{ blog.content}}
			</div>
		</div>
	{% endfor %}
{% endblock %}
