
{% extends "base.html" %}
{% block content %}
	<div class="sub-heading">
		<h2>Like Post</h2>
		<span class="post-link">
			<i class="icon-list-alt"></i><a class="new-post-link" href="/welcome" title="Go back to post main-page">Posts</a>
			<i class="icon-signout"></i><a class="new-post-link" href="/logout">Signout</a>
		</span>
	</div>	

<!-- Displaying the post selected by the user for liking -->
	<form method = "post">
		<div class="blog">
			<div class="post-title">
				{{ blog.subject}}
				<span class="post-date">
					{{blog.created.strftime("%b %d, %Y")}}
				</span>
			</div>
			<div class="post-content">
				{{ blog.content}}
			</div>
		</div>
		<div class = "post-button-frame">
			<input class = "post-button" type = "submit" value = "Like"> 
		</div>
	</form>	
	{% if error != "" %}
	<div class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			{{error}}
	</div>
	{% endif %}

{% endblock %}	
