
<!-- Extending from base.html to ensure all the html files have uniform look and feel -->
{% extends "base.html" %}
{% block content %}
	<div class="sub-heading">
		<h2>New Blog Added By User</h2>
		<span class="post-link">
			<i class="icon-list-alt"></i><a class="new-post-link" href="/welcome" title="Go back to post main-page">Posts</a>
			<i class="icon-signout"></i><a class="new-post-link" href="/logout">Signout</a>
		</span>
	</div>
<!-- Displaying the post last added -->
	<div class="blog">
		<div class="post-title">
			{{ blog.subject}}
			<span class="post-date">
				{{blog.created.strftime("%b %d, %Y")}}
			</span>
		</div>
		<div class="post-content">
			{{ blog.content}}
		</div>
	</div>
{% endblock %}	
